<!--# layout("/common/layout.html",{"jsBase":"/js/cms/ihUsers/"}){ -->

<form class="layui-form layui-form-pane" id="updateForm">
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">昵称</label>
				<div class="layui-input-inline">
					<input type="text" id="nick" name="nick"  value="${ihUsers.nick}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
				<div class="layui-input-inline">
					<input type="text" id="realname" name="realname"  value="${ihUsers.realname}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">头像</label>
				<div class="layui-input-inline">
					<input type="text" id="userimg" name="userimg"  value="${ihUsers.userimg}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">个人资料背景图</label>
				<div class="layui-input-inline">
					<input type="text" id="backgroupimg" name="backgroupimg"  value="${ihUsers.backgroupimg}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">password</label>
				<div class="layui-input-inline">
					<input type="text" id="password" name="password"  value="${ihUsers.password}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">phone</label>
				<div class="layui-input-inline">
					<input type="text" id="phone" name="phone"  value="${ihUsers.phone}"  lay-verify="phone" class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">salt</label>
				<div class="layui-input-inline">
					<input type="text" id="salt" name="salt"  value="${ihUsers.salt}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">email</label>
				<div class="layui-input-inline">
					<input type="text" id="email" name="email"  value="${ihUsers.email}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">birthday</label>
				<div class="layui-input-inline">
					<input type="text" id="birthday" name="birthday"  value="${ihUsers.birthday}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">性别</label>
				<div class="layui-input-inline">
					<input type="text" id="sex" name="sex"  value="${ihUsers.sex}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">是否结婚</label>
				<div class="layui-input-inline">
					<input type="text" id="ismarry" name="ismarry"  value="${ihUsers.ismarry}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">网易云信Id</label>
				<div class="layui-input-inline">
					<input type="text" id="accid" name="accid"  value="${ihUsers.accid}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">微信账号</label>
				<div class="layui-input-inline">
					<input type="text" id="wechat" name="wechat"  value="${ihUsers.wechat}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">所属单位Id(医院)</label>
				<div class="layui-input-inline">
					<input type="text" id="aid" name="aid"  value="${ihUsers.aid}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">所属部门Id(科室)</label>
				<div class="layui-input-inline">
					<input type="text" id="did" name="did"  value="${ihUsers.did}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">职称1:主任医师</label>
				<div class="layui-input-inline">
					<input type="text" id="office" name="office"  value="${ihUsers.office}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">擅长疾病</label>
				<div class="layui-input-inline">
					<input type="text" id="sickskill" name="sickskill"  value="${ihUsers.sickskill}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">详细介绍</label>
				<div class="layui-input-inline">
					<input type="text" id="intro" name="intro"  value="${ihUsers.intro}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">网易云信ID的密码</label>
				<div class="layui-input-inline">
					<input type="text" id="token" name="token"  value="${ihUsers.token}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">启用状态</label>
				<div class="layui-input-inline">
					<input type="text" id="openstatus" name="openstatus"  value="${ihUsers.openstatus}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">认证审核状态:0未审核，1审核中，5审核通过，-1审核未通过</label>
				<div class="layui-input-inline">
					<input type="text" id="auditstatus" name="auditstatus"  value="${ihUsers.auditstatus}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">lasttime</label>
				<div class="layui-input-inline">
					<input type="text" id="lasttime" name="lasttime"  value="${ihUsers.lasttime}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">addtime</label>
				<div class="layui-input-inline">
					<input type="text" id="addtime" name="addtime"  value="${ihUsers.addtime}"   class="layui-input" >
				</div>
            </div>
            <div class="layui-inline">
            <label class="layui-form-label">updatetime</label>
				<div class="layui-input-inline">
					<input type="text" id="updatetime" name="updatetime"  value="${ihUsers.updatetime}"   class="layui-input" >
				</div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
        </div>
    </div>
    <div class="layui-row">
        <layui:attachment name="attachmentId" batchFileUUID="${ihUsers.attachmentId!uuid()}" isNew="false" bizId="${ihUsers.uid}" bizType="IhUsers"/>
    </div>
	<!-- 业务对象须有hidden字段，保存delFlag和version字段-->
	<input type="hidden" name="delFlag" value=${ihUsers.delFlag} />
    <input type="hidden" name="uid" value=${ihUsers.uid} />
    <layui:submitButtons id="updateButton" />
</form>
<!--#} -->
<script>
layui.use(['edit'], function(){
    var ihUsersEdit = layui.edit
    ihUsersEdit.init();
});
</script>
